@use "../../assets/styles/variable" as var;

.o-modal {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 101, 135, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .o-modal-content {
    width: 500px;
    min-height: 100px;
    max-height: 100%;
    border-radius: var.$borderRadius;
    background-color: #fff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .o-modal-header {
      display: flex;
      padding: 30px;
      align-items: center;
      justify-content: space-between;
      h3 {
        margin: 0;
        padding: 0;
      }
    }
    .o-modal-body {
      height: 100%;
      padding: 0 30px;
      overflow-y: auto;
    }
    .o-modal-footer {
      display: flex;
      padding: 30px;
      align-items: center;
      justify-content: space-between;
    }
  }
  .o-modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
